.container {
	border: 2px solid black;
	border-radius: 16px;
	max-width: 780px;
	margin: 25px auto;
	padding: 16px;
}

.title {
	text-align: center;
}

.users-panel {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
}

.user-panel {
	border: 1px solid grey;
	padding: 10px 20px;
	margin: 2px;
	text-align: center;
}

.btn-upgrade {
	display: inline-block;
	background-color: #4CAF50;
	color: #FFFFFF;
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 0 10px;
	opacity: 0.9;
}

.btn-upgrade:hover, .btn-delete:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-delete {
	display: inline-block;
	background-color: #f44336;
	color: #FFFFFF;
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 0 10px;
	opacity: 0.9;
}

.username i {
	font-size: 36px;
	vertical-align: middle;
	margin: 0 0 10px 0;
	color: #737373;
}

.username {
	font-weight: bold;
}